.blob {
	padding: 25px;
	color: Salmon;
}

#about-me {
	color: Red;
	font-size: 200%;
	padding-left: 50%;
}

#irc {
	clor: Green;
	font-size: 70%;
	padding-left: 35%;
}

#teamspeak {
	color: Blue;
	font-size: 30%;
	padding-left: 90%;
}